.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    flex: 1;
    margin-left: 10%;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    width: calc(90%);
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 3rem;
        height: calc(100vh - 7rem);
    }
}
