name: Production service rbcyber.org
on:
  push:
    branches:
      - main

jobs:
  prod:
    name: Production service for rbcyber.org
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            sudo systemctl restart rbcyber-org.service
            sudo wall "rbcyber.org has been rebuilt from GitHub."
